<!DOCTYPE html>
<html lang="en">

  <head>
    {{> head}}
    {{ghost_head}}
    <meta property="fb:app_id" content="612105415646159">
    <meta property="fb:admins" content="ish.sookun" />
  </head>

  <body>

    {{> nav_bar}}

    {{> header_home}}
    {{> header_post_page}}

    {{{body}}}

    {{> footer}}

    {{ghost_foot}}
  </body>
</html>
